@import '../../../style/colors.scss';

.Dropdown {
	display: flex;
	align-items: center;
}

.Dropdown__Label {
	text-align: right;
	padding-right: 10px;
	width: 20%;
}

.Dropdown__Input {
	width: 80%;
}

.Dropdown__Input--full {
	width: 100%;
}

// React dropdown
.Dropdown-root {
	position: relative;
}

.Dropdown-control {
	overflow: hidden;
	border: 1px solid $gray;
	background: $background-card;
	border-radius: 2px;
	padding: 5px;
}

.Dropdown-menu {
	position: absolute;
	border: 1px solid $gray;
	margin-top: -1px;
	border-radius: 2px;
	width: 100%;
	background: $background-card;
}

.Dropdown-option {
	padding: 7px 5px;
	cursor: pointer;

	&:hover {
		background-color: $blue-light;
	}

	&.is-selected {
		background-color: $blue-light;
	}
}

.Dropdown-arrow {
	border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
}

.is-open {
	.Dropdown-arrow {
	    border-color: transparent transparent #999;
	    border-width: 0 5px 5px;
	}

	.Dropdown-control {
		border: 1px solid $blue;

		outline: none;
		border-color: $blue;
		box-shadow: 0 0 5px $blue;
	}
	.Dropdown-menu {
		border: 1px solid $blue;

		outline: none;
		border-color: $blue;
		box-shadow: 0 0 5px $blue;
	}
}
