.Pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Pagination__Pages {
    margin-top: 0;
    margin-bottom: 0;
}
