@import '../../../../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.GoogleLogin {
    text-align: center;
}

.GoogleLogin__Content {
    padding: 0.5rem;
    text-align: left;

    color: $gray;
    border: 1px solid $gray-light;
    border-radius: $border-radius;

    display: flex;
    align-items: center;

    &:hover {
        border: 1px solid $gray-light;
        background: $gray-lightest;

        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

.GoogleLogin__Logo {
    margin-right: 1rem;
}

.GoogleLogin__Text {
    text-align: center;
    flex: 1;
}
