.ImportView__Content {
	margin-top: 70px;

	ul {
		margin-top: 20px;
		list-style-type: none;
	}
}

.ImportView__Search {
	button {
		margin-top: 5px;
	}
}

.ImportView__Spinner {
	text-align: center;
	font-size: 2em;
	margin-top: 20px;

	.fa-3x {
		font-size: inherit;
	}
}
