@import '../../../style/base.scss';

.Select {
	display: flex;
	min-height: 35px;
}

.Select__Choices {
	background-color: $background-card;
	position: absolute;
	width: 100%;
	border-radius: 0px 0px 2px 2px;
	border: 1px solid $blue;
	border-top: none;
	margin-bottom: 20px;
}

.Select__Choice {
	padding: 5px;
	cursor: pointer;

	&:hover {
		background-color: $blue-light;
	}
}

.Select__Choice--last {
	border-radius: 0px 0px $border-radius $border-radius;
}

.Select__Label {
	text-align: right;
	margin-top: 8px;
	padding-right: 10px;
	width: 20%;
}

.Select__Input {
	z-index: 100;
	// position: relative;
	width: 80%;
}

.Select__InputSelect {
	position: relative;
	z-index: 1;
}

.Select__Input--full {
	width: 100%;
}

.Select_Values {
	display: flex;
	flex-wrap: wrap;
}

.Select_Value {
	margin-top: 4px;
}
