@import '../../../../style/colors.scss';

.Search {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	border: 1px solid $gray;
	border-radius: 10px;

	background-color: $background-card;

	.Text {
		width: 100%;
	}

	.Text__InputField {
		border: none;
		background-color: transparent;

		&:focus {
			box-shadow: none;
		}
	}
}

.Search--focus {
	border-color: $blue;
	box-shadow: 0 0 5px $blue;
}

.Search__Magnify {
	margin: 10px;
}

.Search__Clear {
	margin: 10px;
	cursor: pointer;

	&:hover {
		color: $red;
	}
}
