@import '../../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.TagList {
	font-size: 0.8rem;

	.TagList__Tags {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.TagList__Tag {
			border: 1px solid $gray-light;
			border-radius: $border-radius;

			background: $body-bg;
			color: $body-color;

			margin: 2.5px;
			padding: 5px 10px;

			display: flex;
			align-items: center;

			.fa {
				margin-right: 3px;
			}
		}
	}
}
