@import '../../../style/base.scss';

.PaperListViewRow {
	a {
		color: $foreground;

		&:visited {
			text-decoration: none;
			color: $foreground;
		}

		&:hover {
			text-decoration: none;
			color: $foreground;
			cursor: pointer;
		}
	}

	.PaperListViewRow__Tags {
		display: flex;
		align-items: center;
		flex: 1;

		.fa-tag {
			margin-left: 3px;
		}
	}

	.card-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.PaperListViewRow__Bookmark {
		font-size: 1.2em;
		margin: 0 5px;

		button {
			border: none;
			outline: none;
			background: transparent;

			color: $foreground;

			&:hover {
				color: black;
			}
		}
	}
}
