@import '../style/colors.scss';

.PaperEdit {
	> h1 {
		text-align: center;
	}

	> h2 {
		margin-left: 30px;
	}
	width: 90%;
	margin: auto;
}

.PaperEdit__Header {
	display: flex;
	justify-content: space-between;
}

.PaperEdit__Block {
	margin: 10px 0;
}

.PaperEdit__SummaryField {
    min-height: 200px;
}

.PaperEdit__Footer {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}
