@import '../../style/base.scss';

.PaperView {
	display: flex;
}

.PaperView__LeftPanel {
	width: 20%;
	min-height: 100vh;

	background: $blue;
	color: $background;
	padding: 20px 10px;

	a {
		color: $background;

		&:visited {
			color: $background;
			text-decoration: none;
		}

		&:hover {
			color: $background;
			text-decoration: underline;
		}
	}

	.PaperView__LeftPanel__Links {
		display: flex;
		justify-content: space-between;

		a:last-of-type {
			margin-right: 5px;
		}
	}

	.TagList {
		.TagList__Tags {
			display: flex;
			flex-wrap: wrap;
			padding: 5px;

			.TagList__Tag {
				border: 1px solid $background;
				border-radius: 2px;

				margin: 2.5px;
				padding: 2.5px 10px;

				display: flex;
				align-items: center;
			}
		}
	}
}

.PaperView__LeftPanel__Tags {
	margin-top: 30px;
}

.PaperView__Content {
	flex: 1;
	padding: 0 40px;

	box-shadow: 0 0 10px 3px $blue-darker;
}
