@import '../style/base.scss';

.PaperListView__Content {
	margin-top: 60px;

	ul {
		list-style-type: none;
	}
}

.PaperListView__AddButton {
	text-align: center;
	text-decoration: none;
	color: $foreground;

	border: 1px dashed $gray;
	margin: 5px 2.5px;
	padding: 5px;

	.fa {
		margin-right: 3px;
	}

	&:hover {
		color: $blue;
		border-color: $blue-light;
	}
}

.PaperListView__Search {
	display: flex;
	align-items: center;
	padding: 2.5px;

	background: $background-card;
	border: 1px solid $gray;
	border-radius: 2px;

	margin-bottom: 15px;

	.fa {
		margin: 0 2px;
	}
}

.PaperListView__Search__Input {
	flex: 1;

	input {
		width: 100%;

		outline: none;
		border: none;
		background: transparent;
	}
}

.PaperListViewRow {

	a {
		color: $foreground;

		&:visited {
			text-decoration: none;
			color: $foreground;
		}

		&:hover {
			text-decoration: none;
			color: $foreground;
			cursor: pointer;
		}
	}

	.PaperListViewRow__Tags {
		display: flex;
		align-items: center;

		.fa-tag {
			margin-left: 3px;
		}
	}
}
