@import '../style/base.scss';

.PaperListViewRow {
	background: $background-card;

	margin: 5px 2.5px;
	padding: 10px;
	border: 1px solid $gray;
	border-radius: 3px;

	color: $foreground;
	box-shadow: 0 0 5px $gray;

	&:visited {
		text-decoration: none;
	}

	&:hover {
		box-shadow: 0 0 5px $blue-light;
		border-color: $blue-light;
		text-decoration: none;
		cursor: pointer;
	}
}

.PaperListView {
	display: flex;
	flex-direction: column;

	padding: 10px 20px;
}

.PaperListView__AddButton {
	text-align: center;
	text-decoration: none;
	color: $foreground;

	border: 1px dashed $gray;
	margin: 5px 2.5px;
	padding: 5px;

	.mdi {
		margin-right: 3px;
	}

	&:hover {
		color: $blue;
		border-color: $blue-light;
	}
}

.PaperListView__Search {
	margin-left: 40%;
	width: 60%;

	display: flex;
	align-items: center;
	padding: 2.5px;

	background: $background-card;
	border: 1px solid $gray;
	border-radius: 2px;

	margin-bottom: 15px;

	.mdi {
		font-size: 14pt;
		margin: 0 2px;
	}
}

.PaperListView__Search__Input {
	flex: 1;

	input {
		width: 100%;

		outline: none;
		border: none;
		background: transparent;
	}
}
