@import '../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.HomeView {
	margin-top: 70px;
}

.HomeView__Content {
    margin-top: 20px;

	ul {
		list-style-type: none;
	}
}

.HomeView__List {
    padding-left: 0;
    padding-right: 0;
}

.btn.btn-link.HomeView__LoginButton {
	&:focus:active, &:focus {
		outline: none;
	}
}

.HomeView__Filters {
    padding-left: 0;
    padding-right: 0;
}

.HomeList {
    padding-left: 0;
    padding-right: 0;
}
