@import '../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.HomeView__Content {
	margin-top: 70px;

	ul {
		list-style-type: none;
	}
}

.btn.btn-link.HomeView__LoginButton {
	&:focus:active, &:focus {
		outline: none;
	}
}

.HomeView__List {
	margin-top: 10px;
}
