@import '../../../style/base.scss';

.Tag {
	border: 1px solid $blue;
	border-radius: 2*$border-radius;
	padding: 3px 10px;

	display: flex;
	align-items: center;

	background-color: $background-card;
}

.Tag__ClearButton {
	font-size: 12px;
	cursor: pointer;
	margin-left: 3px;
}

.Tag__Text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
