@import '../../../../style/colors.scss';

.Number__Label {
	padding-right: 10px;
	width: 20%;
	text-align: right;
}

.Number__Input {
	width: 80%;
}

.Number__InputField {
	background: transparent;

	width: 100%;
	height: 35px;

	border: none;
	border-bottom: 1px solid $gray;
}

.Number__InputField:focus {
	outline: none;
	border-bottom: 1px solid $blue;
}
