@import '../../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.nav-item > .nav-link{
    color: lighten($gray-light, 30);

    &:hover, &:focus {
        color: $body-bg;
    }
}

.navbar-brand, .nav-item.active > .nav-link {
    color: $body-bg;

    &:hover {
        color: $body-bg;
    }
}

.NavBar__Brand img {
    margin-right: 0.25rem;
}

.NavBar__Children {
    display: flex;

    > *:not(:last-child) {
        margin-right: 0.5rem;
    }
}
