@import '../../style/base.scss';

.NavBar {
	background-color: $background-card;
	font-size: 13pt;

	height: 40px;
	width: 100%;

	display: flex;
	justify-content: space-between;

	box-shadow: 10 0 5px $gray;
}

.NavBar__LeftSide {
	display: flex;
	align-items: center;
}

.NavBar__AppName {
	font-size: 18pt;
	margin-left: 20px;
	margin-right: 40px;
}

.NavBar__Tabs {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.NavBar__Tab {
	cursor: pointer;
	padding: 0 10px;
	background-color: lighten($blue, 10%);
	// background-color: $blue;
	height: 40px;

	display: flex;
	align-items: center;
	margin-right: 1px;

	&:hover {
		background-color: $blue;
		color: white;
		// background-color: lighten($blue, 20%);
	}

	&--active {
		background-color: $blue;
	}
}

.NavBar__Login {
	display: flex;
	align-items: center;
}

.NavBar__Username {
	margin: 0 10px;
}

.NavBar__LoginButton {
	margin-right: 10px;
	cursor: pointer;
	font-size: 16pt;
	&:hover {
		color: $blue;
	}
}
