// ============================================================================
// Base colors
// ============================================================================

$brand-primary: #406b8f;
$brand-danger: #e27c79;
$brand-success: #80c780;

// ============================================================================
// Roles
// ============================================================================
