// ============================================================================
// Base colors
// ============================================================================

$gray-dark: #888888;
$gray: #B8B8B8;
$gray-light: #F0F0F0;
$gray-lighter: #F9F9F9;

$blue: #6fa4d5;
$blue-light: #edf4fa; // lighten 32%

$red: #d52c36;
$green: #5ab458;

// ============================================================================
// Roles
// ============================================================================

$background: $gray-lighter;
$background-card: white;
