@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: 'Raleway', Arial, sans-serif;
	background: $background;
}

h1 {
	font-family: 'Open Sans', Arial, sans-serif;
}
