@import 'colors.scss';
@import 'variables.scss';

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Source Sans Pro', 'Roboto', Arial, sans-serif;

    // Make readability great again
    font-size: 1.1rem;
    line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Arial, sans-serif;
}

a:focus {
	text-decoration: none;
	outline: none;
}

.btn:focus, .btn:focus:active {
	outline: none;
}

.btn.btn-link {
    &:focus:active, &:focus {
        outline: none;
    }
}

pre > code {
    background: $gray-lightest;
    display: inline-block;
    min-width: 100%;
    padding: 0.85rem 1rem;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: $gray-light;
    border-left: 0.25em solid $gray-lighter;
}

// Remove bottom margin for paragraphs in lists
li > p {
    margin-bottom: 0;
}

.btn-inverse-primary {
    color: $body-bg;
    border-color: $body-bg;
    background: transparent;

    &:hover {
        color: $brand-primary;
        background: $body-bg;
    }
}
