@import 'colors.scss';
@import 'variables.scss';

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	min-height: 100vh;
	background: $background;

	font-family: 'Open Sans', Arial, sans-serif;
	color: $foreground;
}

h1 {
	font-family: 'Roboto', Arial, sans-serif;
}
