@import '../../../style/colors.scss';

.TextArea {
	display: flex;
}

.TextArea__Label {
	text-align: right;
	padding-right: 10px;
	margin-top: 4px;
	width: 20%;
}

.TextArea__Input {
	width: 80%;
}

.TextArea__InputField {
	width: 100%;
	height: 100%;
	padding: 5px;

	border: 1px solid $gray;
	border-radius: 5px;
	resize: none;
}

.TextArea__InputField:focus {
	outline: none;
	border: 1px solid $blue;
}
