@import '../../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.Footer {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 5rem;

    font-size: 0.9em;

    hr {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.Footer__Column {
    text-align: center;
}
