@import '../../../style/base.scss';

.Radio {
	display: flex;
	align-items: center;
}

.Radio__Label {
	text-align: right;
	padding-right: 10px;
	width: 20%;
}

.Radio__Input {
	width: 80%;

	display: flex;
	align-items: center;
}

.Radio__Input--full {
	width: 100%;
}

.Radio__Choice {
	margin-right: 10px;
}

.Radio__Text {
	margin-left: 4px;
	cursor: default;
}
