.ArxivView__Content {
	margin-top: 70px;

	ul {
		list-style-type: none;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.Pagination ul {
		margin: 0;
	}
}

.ArxivView__Search {
	text-align: center;

	button {
		margin-top: 5px;
	}
}

.ArxivView__Spinner {
	text-align: center;
	font-size: 2em;
	margin-top: 20px;

	.fa-3x {
		font-size: inherit;
	}
}
