@import '../../style/base.scss';

.PaperEdit {
	display: flex;
}

.PaperEdit__LeftPanel {
	width: 200px;
	min-height: 100vh;

	background: $foreground-light;
	color: $background;
	padding: 20px 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	a, button {
		color: $background;
		background: none;
		border: none;
		outline: none;

		&:hover {
			color: $background;
			text-decoration: underline;
		}
	}

	button {
		padding: 0;
		margin-right: 5px;
	}

	.PaperEdit__LeftPanel__TopLinks {
		display: flex;
		justify-content: space-between;
	}

	.PaperEdit__LeftPanel__BottomLinks {
		text-align: right;
	}
}

.PaperEdit__Content {
	flex: 1;
	padding: 0 40px;
	padding-top: 10px;

	color: $foreground;
}

.PaperEdit__Title {
	margin-bottom: 10px;

	input {
		background: transparent;

		outline: none;
		border: none;
		border-bottom: 1px solid lightgray;

		width: 100%;
		font-size: 23px;
	}
}

.PaperEdit__Summary {
	textarea {
		background: transparent;

		height: 90vh;
		outline: none;
		border: none;

		width: 100%;
		resize: none;
	}
}
