.NoUserView__SignInButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NoUserView__SignInImage {
    max-width: 200px;
}

.NoUserView__SignIn {
    max-width: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
