@import '../style/base.scss';

.ReadingList__List {
	width: 90%;
	margin: auto;

	margin-top: 30px;
}

.ReadingList__Add {
	margin: 10px 0;
	padding: 10px;

	color: $blue;
	border: 1px dotted $blue;
	border-radius: 3px;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.mdi {
		font-size: 13pt;
		margin-right: 3px;
	}

	&:hover {
		border-style: solid;
		background-color: $blue;
		color: white;
		box-shadow: 0 0 5px $blue;
	}
}

.ReadingList__Paper {
	margin: 10px 0;
	padding: 10px;

	border: 1px solid $gray;
	border-radius: 3px;
	background-color: $background-card;
	box-shadow: 0 0 5px $gray;

	display: flex;
	align-items: center;
	cursor: pointer;

	&:hover {
		border: 1px solid $blue;
		box-shadow: 0 0 5px $blue;
	}
}

.ReadingList__PaperRead {
	margin-right: 5px;
	font-size: 16pt;
}

.ReadingList__PaperTitle {
	flex: 1;
}

.ReadingList__Row__Icon {
	margin: 0 5px;
	font-size: 16pt;
}

.ReadingList__NoTitle {
	color: $gray;
}

.ReadingList__Search {
	margin: 20px 0;
	margin-right: 40px;
	display: flex;
	justify-content: flex-end;

	.Search {
		width: 50%;
	}
}
