.SearchScene__SearchBar {
    margin-bottom: 1rem;
}

.SearchScene__SearchBar__Help {
    display: flex;
    justify-content: space-between;
    visibility: visible;
}

.SearchScene__SearchBar__Help--hide {
    visibility: hidden;
}
