.SearchScene__SearchBar {
    margin-bottom: 1rem;
}

.SearchScene__SearchBar__Help {
    text-align: right;
    visibility: hidden;
}

.SearchScene__SearchBar__Help--show {
    visibility: visible;
}
