.MarkdownInput {
    textarea {
        background: transparent;

        outline: none;
        border: none;

        width: 100%;

        display: block;
        overflow: hidden;
        resize: none;
    }
}
