@import '../../../style/_colors.scss';
@import "~bootstrap/scss/_variables.scss";

.PaperListViewRow {
	a {
		color: $body-color;

		&:visited {
			text-decoration: none;
			color: $body-color;
		}

		&:hover {
			text-decoration: none;
			color: $body-color;
			cursor: pointer;
		}
	}

	p {
		margin-bottom: 0;
	}

	.PaperListViewRow__Tags {
		display: flex;
		align-items: center;
		flex: 1;

		.fa-tag {
			margin-left: 3px;
		}
	}

	.card-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.fa {
			color: $brand-primary;
		}
	}

	.PaperListViewRow__Bookmark {
		font-size: 1.2em;
		margin: 0 5px;

		button {
			border: none;
			outline: none;
			background: transparent;

			color: $body-color;

			&:hover {
				color: black;
			}
		}
	}
}
